@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-none::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar-none::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: white;
  }

  .scrollbar-none::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100vh;
    /* border: 3px solid #f6f7ed; */
  }

  .scrollbar-none::-webkit-scrollbar-thumb:hover {
    background: white;
  }
  .arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 1px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid #f00;
  }
  
  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 60px solid green;
  }
  
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid blue; 
    background-image: conic-gradient();
  }

}
